<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>PP抓娃娃</title>
		<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	</head>
	<body class="bg_yeb">
		<div class="oWrap">
			<div class="inv_frame">
				<img class="inv_bg" src="../img/inv_bg.png" />
				<img class="inv_logo" src="../img/inv_logo.png"/>
			</div>
			<a id="DownLoad" class="download"></a>
		</div>
		<div class="loading_fra">
			<img src="../img/loading.gif" />
		</div>
		<div class="android_tip">
			<img src="../img/android_open_browser.png" />
		</div>
	</body>
</html>